NODE_ENV=development
BUSINESS_TIMEZONE=Asia/Jakarta
COMPANY_EMAIL_DOMAIN=dexagroup.com,company.example

POSTGRES_USER=dexa
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

IDENTITY_DATABASE_URL=postgresql://dexa:replace-me@postgres:5432/identity_db
EMPLOYEE_DATABASE_URL=postgresql://dexa:replace-me@postgres:5432/employee_db
ATTENDANCE_DATABASE_URL=postgresql://dexa:replace-me@postgres:5432/attendance_db
INTEGRATION_DATABASE_URL=postgresql://dexa:replace-me@postgres:5432/integration_db

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=dexa
RABBITMQ_PASSWORD=replace-me
RABBITMQ_VHOST=/dexa

JWT_SECRET=replace-me-with-a-long-random-secret
JWT_EXPIRES_IN=15m

API_GATEWAY_PORT=3000
IDENTITY_SERVICE_PORT=3001
EMPLOYEE_SERVICE_PORT=3002
ATTENDANCE_SERVICE_PORT=3003
EVENT_WORKER_PORT=3004
NOTIFICATION_PROVIDER=fake
